<% @user.skills.zip(@user.user_skills).each do |s, us| %>
  <%#= TODO: ボタンのスタイリング %>
  <div>
	<span>
	  <%= button_tag(us.point,
					 data: {plus1: current_user.id,
							user_skill_id: us.id,
							url: plus1_path},
					 class: "plus1-button") %>
	  <%= link_to s.name, "/skills/#{s.name}", data: {user_skill_id: us.id} %>
	  <% if current_user.id == @user.id %>
		<%= content_tag(:span, "",
						data: {user_skill_id: us.id,
							   user_id: @user.id,
							   url: remove_skill_path},
						class: "glyphicon glyphicon-remove-circle remove-skill") %>
	  <% end %>
	  <% us.plus_ones.first(10).each do |po| %>
		<%= link_to image_tag(po.user.image_url(:thumb)), po.user %>
	  <% end %>
	</span>
  </div>
<% end %>
