<div class="col-md-4 col-md-offset-4">
<h1><%= @skill.name %></h1>
<ul class="list-group">
  <% @skill.users.each do |su| %>
	<li class="list-group-item">
	  <%= image_tag(su.image_url(:thumb)) %>
	  <%= link_to su.name, su %>
	</li>
  <% end %>
</ul>
