<footer class="footer">
  <small>
    This page is authored by mov.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "https://google.com/search?q=About" %></li>
      <li><%= link_to "Contact", "https://google.com/search?q=コンタクトレンズ" %></li>
    </ul>
  </nav>
</footer>
